body{
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto Bold', 'Arial', sans-serif;
	margin: 0;
	color: #fff;
	min-width: 1200px;
	background-color: #849d8f;
}

body>input[type="radio"]{display: none;}

.wrapper{
	min-width: 940px;
	background-color: #849d8f;
	background-image: url(../img/Icecream_gallery_1.png); 
	background-repeat:  no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper:before,
.wrapper:after{
  content: "";
  visibility: hidden;
}

.wrapper:before{background-image: url(../img/Icecream_gallery_2.png);}

.wrapper:after{background-image: url(../img/Icecream_gallery_3.png);}

.wrapper-catalog{
	min-width: 940px;
	background-color: #849d8f;
}

.container{
	width: 1146px; 
	padding: 0px 27px;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
/*==========HEADER=========*/
.main-header{position: relative;}

.logo{
	float: left;
	margin-right: 16px;
	margin-top: 9px;
	margin-left: -5px;
}
.main-navigation{
	float: left;
	width: 550px;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 24px;
}

.main-navigation li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	padding-bottom: 5px;
}

.main-navigation-item{
	color: #fff;
	line-height: 18px;
	display: block;
	padding: 7px 13px 7px 14px;
	text-decoration: underline;
}

.main-navigation-item::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	color: rgba(255,255,255,0.2);
}

.main-navigation-item:hover{
	background-color: #f7f6f3;
	color: #323232;
	border-radius: 16px;
	text-decoration: none;
}

.main-navigation-item:active{
	background-color: #f7f6f3;
	color: #323232;
	border-radius: 16px;
	box-shadow: inset 0px 2px 2px  0px #696969;
}

.navigation-list{min-height: 50px;}

.active-list{
	color: #fff;
	background-color: #d07058;
	border-radius: 16px;
	text-decoration: none;
}

.navigation-list:hover .drop{
	display: block;
	margin: 0;
}

.drop{
	display: none;
	position: absolute;
	z-index: 5;
	width: 143px;
	background-color: #f8f7f4;
	top: 37px;
	left: -6px;
	border-radius: 6px;
	box-shadow: -2px 11px 20px 0px rgba(0,0,0,0.65);
}

.drop li{
	width: 100%;
	padding: 0;
}

.droplist{
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	padding: 8px 2px 8px 20px;
	text-decoration: none;
}

.navigation-list:hover .droplist:hover{
	border-radius: 0;
	background-color: #fbded7;
}

.navigation-list:active .droplist:active{
	border-radius: 0;
	background-color: #f6b5a5;
	box-shadow: none;
}

.navigation-list .droplist:visited{
	border-radius: 0;
	color: #323232;
	background-color: #d07058;
}

.navigation-list:hover .novelty{
	font-weight: 700;
	padding: 10px 0px 14px 19px;
	margin: 0px;
}

.navigation-list .novelty::after{
	display: block;
	position: absolute;
	top: 38px;
	left: 6px;
	content: "";
	width: 128px;
	height: 1px;
	background-color: rgba(53,53,53,0.2);
}

.navigation-list:hover .novelty:hover{
	border-radius: 6px 6px 0px 0px;
}

.navigation-list:hover .last:hover{
	border-radius: 0px 0px 6px 6px;
}

.navigation-list:hover .droplist-active{
	background-color: #d07058;
}

.user-block{
	float: right;
	position: relative;
	width: 268px;
	margin-top: 23px;
	font-size: 0;
}

.search-block{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.search-block:hover .office-search-form{display: block;}

.search, .login, .bucket{
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff; 
	text-decoration: none;
}

.search{	
	width: 33px;
	height: 33px;
	background: rgba(255,255,255,0.35) url(../img/Search.png) no-repeat 50% 50%;
	border-radius: 50%;
	margin-left: 6px;
	margin-right: 11px;	
}

.search:hover{
	background: #f8f7f4 url(../img/Hover_search.png) no-repeat 50% 50%;
}

.office-search-form{
	display: none;
	position: absolute;
	z-index: 5;
	top: 40px;
	right: 224px;
	width: 311px;
	padding: 20px 15px;
	background-color: #f8f7f4;
	border-radius: 4px;
	box-shadow: -2px 11px 20px 0px rgba(0,0,0,0.65);
}

form{
	position: relative;
}

input{
	display: block;
	box-sizing: border-box;
	outline: none;
	padding: 15px 0px 15px 14px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
}

.search-input{	
	width: 311px;	
}

.search-input:hover{
	border: 2px solid #c7c6c5;
	margin-top: -2px;	
}

.search-input:focus{
	border: 2px solid #5b9ddf;
	margin-top: -2px;
}

.search-input:focus ~ .search-label{
	top:-20px;
	font-size: 14px;
	color: #5b9ddf;
}

.search-input:valid ~ .search-label{
	top:-20px;
	font-size: 14px;
}

.label, .delivery-label{
	color:#999; 
	font-size:14px;
	font-weight:normal;
	position:absolute;
	left: 14px;
	top: 17px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.login-block{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.login-block:hover .office-login-form{display: block;}

.login{
	padding: 7px 17px 8px 43px;
	background: rgba(255,255,255,0.35) url(../img/Entrance.png) no-repeat 21% 53%;
	border-radius: 16px;
	margin-right: 9px;
}

.login:hover{
	color: #323232;
	background: #f8f7f4 url(../img/Entrance_hover.png) no-repeat 21% 53%;
}

.office-login-form{
	display: none;
	position: absolute;
	z-index: 4;
	top: 40px;
	right: 122px;
	width: 241px;
	padding: 20px 17px 20px 19px;
	background-color: #f8f7f4;
	border-radius: 4px;
	box-shadow: -1px 11px 20px 0px rgba(0,0,0,0.65);
}

.email-input, .password-input{
	width: 241px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.email-input:hover, .password-input:hover{
	border: 2px solid #c7c6c5;
	margin-top: -2px;
}

.email-input:focus, .password-input:focus{
	border: 2px solid #5b9ddf;
	margin-top: -2px;
}

.email-input:focus ~ .email-label{
	top: -22px;
	font-size:14px;
	color: #5b9ddf;
}

.email-input:valid ~ .email-label{
	top: -22px;
	font-size: 14px;
}

.password-label{top: 91px;}

.password-input:focus ~ .password-label{
	top: 54px;
}

.password-input:valid ~ .password-label{
	top: 54px;
}

.btn{
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    padding: 16px 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 3px 2px 0px #ac1000;
}

.btn:hover{
	background: #f07a63;
}

.btn:active{
	background: linear-gradient(to bottom, rgb(231,74, 53) 0%, rgb(242,104,67) 100%);
}

.office-login-form a{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.forgot-password{
	bottom: 51px;
	right: 32px;
}

.new-regestration{
	bottom: 27px;
	right: 17px;
}

.forgot-password:hover, .new-regestration:hover,
.forgot-password:active, .new-regestration:active{
	color: #e84d37;
}

.bucket{
	padding: 7px 34px 8px 45px; 
	background: rgba(255,255,255,0.35) url(../img/Bucket.png) no-repeat 18% 58%;
	border-radius: 16px;
}

.main-header-contact{
	position: absolute;
	right: 372px;
	top: 72px;
}

.main-header-contact p{
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 13px;
}

.contact-info{
	font-size: 22px;
	line-height: 24px;
}

.popup-checkout{display: none;}


/*MODAL WINDOW*/
.modal-content{
	/*display: none;*/
	position: absolute;
	z-index: 11;
	top: 68%;
	left: 50%;
	width: 428px;
	padding: 20px 25px;
	margin-left: -239px;
	background-color: #f8f7f4;
	color: #323232; 
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
	border-radius: 12px;
	/*font-size: 0;*/
}

.modal-content span{
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 28px;
	padding-bottom: 22px;
}

.name-input, .popup-input{
	width: 266px;
	margin-bottom: 20px;
}

.name-label, .popup-label{
	font-size: 16px;
}

.name-input:hover, .popup-input:hover, .content-textarea:hover{
	border: 2px solid #c7c6c5;
	margin-top: -2px;
}

.name-input:focus, .popup-input:focus{
	border: 2px solid #5b9ddf;
	margin-top: -2px;
}

.name-input:focus ~ .name-label{
	top: -22px;
	font-size: 14px;
	color: #5b9ddf;
}

.name-input:valid ~ .name-label{
	top: -22px;
	font-size: 14px;
}

.popup-label{top: 94px;}

.popup-input:focus ~ .popup-label{
	top: 54px;
	font-size: 14px;
	color: #5b9ddf;
}

.popup-input:valid ~ .popup-label{
	top: 54px;
	font-size: 14px;
}

.content-textarea{
	box-sizing: border-box;
	padding: 13px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #323232;
	font-weight: bold;
	margin-bottom: 25px;
}

.content-textarea:focus{
	border: 2px solid #5b9ddf;
	border-radius: 5px;
	margin-top: -2px;
}

.textarea-label{
	top: 161px;
	font-size: 16px;
}

.content-textarea:focus ~ .textarea-label{
	top: 130px;
	font-size: 14px;
	color: #5b9ddf;
}

.content-textarea:valid ~ .textarea-label{
	top: 130px;
	font-size: 14px;
}

.modal-btn{
	float: right;
	padding: 14px 23px;
	margin-bottom: 5px;
}

.content-close{
	position: absolute;
	top: -50px;
	right: 0px;
	width: 18px;
	height: 17px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.content-close::before,
.content-close::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -1px;
	width: 21px;
	height: 2px;
	background-color: #000;
	border-radius: 1px;
}

.content-close::before {
	transform: rotate(45deg);
}

.content-close::after {
	transform: rotate(-45deg);
}

.modal-overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
/*MODAL WINDOW END*/

.info{
	margin-bottom: 10px;
}

/*=========HEADER END=========*/

/*=========Index Gllacy=========*/
.slider{
	position: relative;
	padding-top: 270px;
  	text-align: center;
  	color: #ffffff;
  	padding-bottom: 38px;
}

.slide{
	display: none;
}

.slide-title{
	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 30px;
  	font-weight: 700;
  	font-size: 60px;
  	line-height: 60px;
  	padding: 45px 10px 0px 10px;
}

.slide-btn{
	display: inline-block;
	padding: 8px 37px 12px 40px;
	font-size: 31px;
	line-height: 41px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	border-radius: 30px;
	margin-bottom: 4px;
}

.slider-controls{
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.controls:hover{
	background-color: rgba(255,255,255, 0.6); 
}

#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url(../img/Icecream_gallery_1.png);
}

#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url(../img/Icecream_gallery_2.png);
}

#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url(../img/Icecream_gallery_3.png);
}

#btn-1:checked ~ .wrapper .controls[for="btn-1"],
#btn-2:checked ~ .wrapper .controls[for="btn-2"],
#btn-3:checked ~ .wrapper .controls[for="btn-3"] {
  background-color: #ffffff;
}

.special-offer-item{
	width: 541px;
	padding-left: 19px;
	margin-bottom: 40px;
	float: left;
	margin-right: 26px;
	border-radius: 13px;
}

.special-offer-item:nth-child(2n){margin-right: 0px;}

.special-offer-headline{
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 16px;
	color: #fff;
}

.special-offer-item p{
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 15px;
}

.strawberry-item{
	position: relative;
	background: url(../img/Raspberry_background.jpg) no-repeat;
}

.chocolate-item{
	background: url(../img/Chocolate_background.jpg) no-repeat;
}

.strawberry-item .btn, .chocolate-item .btn{
	float: right;
	margin: 28px 21px 23px 0px;
	padding: 11px 20px 11px 16px;
}

.strawberry-item .btn:hover, .chocolate-item .btn:hover{

}

.main-shop-info, .shop-news {margin-bottom: 39px;}

.bestseller{margin-bottom: 38px;}

.bestseller-item{
	position: relative;
	float: left;	
	width: 267px;
	margin-right: 26px;
	z-index: 1;	
}

.bestseller-item:hover{z-index: 2;}

.bestseller-item:hover::before{
	position: absolute;
	content: '';
	width: 293px;
	height: 125%;
	display: block;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.3); 
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
	top: -6px;
	left: -14px;
	z-index: 3;	
}

.bestseller-item>.btn{
	display: none;
	position: absolute;
	bottom: -53px;
    left: 32px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 11px 10px 14px;
}

.bestseller-item:hover .btn{
	display: block;
	z-index: 4;
}

.bestseller-item:last-child{
	margin-right: 0px;
}

.icecream-item{
	display: inline-block;
	text-align: center;
	font-weight: 400;
	padding: 7px 7px 0px 0px;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	text-decoration: none;
}

.icecream-item:hover{color: #ffbc9e;}

.bestseller-item:hover .item-position{z-index: 5;} 

.item-position{
	position: relative;
	z-index: 6;
}

.icecream-position::before{
	position: absolute;
	content: '';
	width: 61px;
	height: 61px;
	display: block;
	background: url(../img/Bestseller.png) no-repeat;
	top: 0px;
}

.icecream-price{
	position: absolute;
    bottom: 71px;
    font-size: 45px;
    line-height: 45px;
    left: 1px;
}

.icecream-price img{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	bottom: 4px;
	left: 80px;
}

.kg{
	position: absolute;
	top: 5px;
	right: -77px;
	font-size: 30px;
	line-height: 45px;
}

.main-shop-info{
	background: url(../img/Waffle.jpg);
	border-radius: 15px; 
	font-size: 0;
	padding: 25px 20px 15px 20px;
}

.index-headline {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
 	color: #323232;
 	margin: 0;
 	padding-bottom: 8px;
}

.advantages{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 483px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin-right: 26px;
	padding-bottom: 8px;
	padding-left: 57px;
	padding-top: 15px;
}

.advantages:nth-child(odd){margin-right: 0px;}

.advantages-icon-icecream{
	background: url(../img/Icecream_icon.png) no-repeat 0% 0%;
}

.advantages-icon-cow{
	background: url(../img/Cow.png) no-repeat 0% 0%;
}

.advantages-icon-leaf{
	background: url(../img/Leaf.png) no-repeat 0% 0%;
}

.advantages-icon-thermometer{
	background: url(../img/Thermometer.png) no-repeat 0% 0%;
}

.news{
	width: 548px;
	border-radius: 16px;
}

.blog{
	float: left;
	background: url(../img/Strawberry_background.jpg) no-repeat;
	padding: 24px 0px 24px 20px;
	width: 560px;
	box-sizing: border-box;
	min-height: 220px;
}

.news-headline {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0px 0px 4px 0px;
}

.blog a{
	display: inline-block;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: underline;
	max-width: 300px;
}

.delivery{
	float: right;
	background: url(../img/Post_background.png) no-repeat;
	padding: 5px;
}

.delivery-info{
	background-color: #f8f7f4;
	border-radius: 16px;
	padding: 30px 19px 35px 19px;
}

.delivery-info p{
	margin: 0px;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.delivery-form .delivery-input{
	float: left;
	width: 368px;
	padding: 9px 0px 9px 14px;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
}

.delivery-label{
	left: 14px;
	top: 12px;
}

.delivery-input:hover{
	border: 2px solid #c7c6c5;
	margin-top: -2px;
}

.delivery-input:focus{
	border: 2px solid #5b9ddf;
	margin-top: -2px;
}

.delivery-input:focus ~ .delivery-label{
	top: -22px;
	font-size: 14px;
	color: #8fbdec;
}

.delivery-input:valid ~ .delivery-label{
	top:-22px;
	font-size: 14px;
}

.delivery-form .btn{
	float: right;
	padding: 9px 17px;
}

.map{position: relative;}

.map-canvas{
	width: 100%;
	height: 430px;
}

.main-contacts{
	position: absolute;
	width: 252px;
	border-radius: 16px;
	top: 60px;
	right: 377px;
	background-color: #fffefd;
	padding: 30px 25px 31px 25px;
}

.main-contacts p{
	margin: 0px 0px 3px 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.main-contacts span{
	display: inline-block;
	padding-bottom: 18px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.main-contacts  .phone{
	padding-bottom: 2px;
}

.main-contacts .btn{
	margin-top: 22px;
	padding: 10px 17px 10px 28px;
}
/*=========Index Gllacy End=========*/

/*=========Catalog Gllacy=========*/
.info{
	margin-bottom: 10px;
}

.breadcrumbs{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 0;
}

.breadcrumbs-item{
	position: relative;
	float: left;
	font-size: 14px;
	line-height: 16px;
	color: rgba(255,255,255, 0.9);
	text-decoration: underline;
	font-weight: 400;
	padding-right: 21px;
}

.breadcrumbs-item::after{
	content: "";
	position: absolute;
	top: 6px;
	left: 66px;
	width: 7px;
	height: 6px;
	background: transparent url(../img/Arrow.png) no-repeat;
	margin-left: -7px;
}

.breadcrumbs-item:last-child, .breadcrumbs-item:hover{text-decoration: none;}

.breadcrumbs-item:last-child::after{display: none;}

.choice-zone{
	width: 1146px;
}
.catalog-headline {
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	margin: 0px;
	margin-bottom: 26px;
}

.ice-cream-selection{
	padding-right: 20px;
	margin-bottom: 34px;
}

.sorting-part{
	float: left;
	position: relative;
	margin: 0px;
	border: none;
	padding: 5px 0px 6px 0px;
	margin-bottom: 16px;
	margin-right: 15px;
	background: rgba(255,255,255,0.2);
	border-radius: 30px;
}

legend{
	font-size: 14px;
	line-height: 16px;
	padding: 0px;
	padding-bottom: 31px;
	padding-left: 17px;
	font-weight: 400;
}

option{outline: none;}

.sorting{width: 192px;}

.sorting-select{
	position: absolute;
	width: 192px;
	top: 24px;
	right: 8px;
	left: 0px;
	border: none;
	background: transparent url(../img/Marker.png) 93% 48% no-repeat;
	color: #fff;
	font-weight: bold;
	outline: none;
	border-radius: 30px;
	padding: 7px 17px;
	font-size: 16px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	text-indent: 0.01px; 
  	text-overflow: '';
  	-ms-appearance: none;
  	appearance: none!important;	
}

.sorting-select:hover{
	background: #fff url(../img/Marker_hover.png) 93% 48% no-repeat;
	color: #323232;
	
}

.range{width: 222px;}

.range-filter{
	width: 100%;
}

.scale, .bar{
	position: absolute;
	top: 39px;
	left: 18px;
	width: 188px;
	height: 3px;
	background: rgba(255,255,255, 0.5);
}

.bar{
	width: 108px;
	top: 0px;
	left: 22px;
	background: rgba(255,255,255,1);
}

.toggle{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 21px;
	height: 21px;
	background: #f8f7f4;
	border-radius: 50%;
	cursor: pointer;
}

.toggle-min{left: 37px;}

.toggle-max{left: 134px;}

/*.range-input{
	padding: 0px;
	position: absolute;
	width: 188px;
	top: 30px;
	left: 19px;
}*/

.fatness{width: 415px; margin-right: 5px;}

.fillers{width: 702px;}

.apply{width: 144px; float: left;}

.paginator{
	float: right;
	width: 190px;
	margin-top: 42px;
	margin-bottom: 30px;
}
/*=========Catalog Gllacy End=========*/

/*=========FOOTER=========*/
.main-footer{
	padding: 0px 27px;
	padding-top: 20px;
	padding-bottom: 25px;
}

.footer-social{
	float: left;
	width: 267px;
	margin-right: 26px;
	margin-left: 2px;
	padding-top: 14px;
}

.social-btn{
	display: inline-block;
	background: url(../img/social.png) no-repeat;
    font-size: 0;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    transition: all 0.2s linear;
    border: 3px solid rgba(255,255,255,0.5);
    margin-right: 7px;
    opacity: 0.8;
}

.social-btn:hover{opacity: 1;}

.social-btn:active{
	opacity: 0.8;
	box-shadow: inset 0px 2px 2px 0px #888; 
}

.social-btn-inst{
	background-position: -35px 0px;
}

.social-btn-fb{
	background-position: -70px 0px;
}

.social-btn-vk{
	background-position: -105px 0px;
}

.footer-info{
	float: left;
	width: 363px;
	padding-left: 106px;
	padding-right: 91px;
	padding-top: 14px;
}
.footer-info .providers{
	background: url(../img/Heart.png) no-repeat 0% 50%;
	font-weight: 700;
}

.footer-info a{
	display: inline-block;
	vertical-align: top;
	min-width: 111px;
	padding: 0px 0px 0px 22px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
}
.footer-info a:hover{color: #ffbc9e;}

.footer-info a:nth-child(odd){
	margin-right: 10px;
}

.copyright{
	float: right;
	width: 267px;
}

.copyright-logo{
	display: block;
	width: 108px;
	height: 38px;
	margin: 0 auto;
}

.copyright-text {
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
	padding-left: 74px;	
}

.copyright .academy{
	display: inline-block;
	font-weight: 400px;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.copyright .academy:hover{
	color: #ffbc9e;
}
/*=========FOOTER END=========*/
