body{
	font: 16px/22px 'Roboto Regular' #323232;
	background: #849d8f;
}

.index-headline {
	font: 24px/30px 'Roboto Medium';
 	color: #323232;
}

.catalog-headline {
	font: 35px/41px 'Roboto Bold';
	color: #fff;}

.special-offer-headline{
	font: 35px/41px 'Roboto Bold';
	color: #fff;
}

.news-headline {
	font: 16px/22px 'Roboto Medium';
	color: #323232;
}
