body{
	font: 16px/22px 'Roboto Regular' #323232;
	background: #849d8f;
}

h1 .index-headline{font: 24px/30px 'Roboto Medium' #323232;}

h1 .catalog-headline{font: 35px/41px 'Roboto Bold' #fff;}

h2 .special-offer-headline{font: 35px/41px 'Roboto Bold' #fff;}

h3 .news-headline{font: 16px/22px 'Roboto Medium' #323232;}